<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Matthew Apuya's Official Website">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="google-site-verification" content="UJigPNOUs3R-CEucJRTNmWtSxR8Vnpl4rhDm0p6bxrU" />

    {% seo %}
</head>
