---
layout: default
---

<main class="json">
  <div class="block">
    {% if site.json.name %}
    <p><span class="key">name</span><span class="attr">{{ site.json.name }}</span></p>
    {% else %}
    <p><span class="key">name</span><span class="attr">{{ site.title }}</span></p>
    {% endif %}
    {% if site.json.description %}
    {% if site.json.description.first %}
    <div id="typed-strings">
      {% for i in site.json.description %}
      {% if i contains "one piece" %}
      <span class="easter-egg">"{{ i }}",</span>
      {% else %}
      <span>{{ i | prepend: '"' | append: '",'}}</span>
      {% endif %}
      {% endfor %}
    </div>
    <p><span class="key">description</span>{% include typed.html %}</p>
    {% else %}
    <p><span class="key">description</span><span class="attr">{{ site.json.description }}</span></p>
    {% endif %}
    {% else %}
    <p><span class="key">description</span><span class="attr">{{ site.description }}</span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.resume %}
    {% assign resume = site.json.resume | split: "/" | slice: -1 %}
    <p><span class="key">resume</span><span class="attr"><a href="{{ site.json.resume }}" target="_blank">{{ resume }}</a></span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.address %}
    {% if site.json.address.first %}
    <p><span class="array-key">address</span></p>
    <div class="array">
      {% for i in site.json.address %}
      <p class="array-attr">{{ i }}</p>
      {% endfor %}
    </div>
    {% else %}
    <p><span class="key">address</span><span class="attr">{{ site.json.address }}</span></p>
    {% endif %}
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.contact %}
    {% if site.json.contact.first %}
    <p><span class="list-key">contact</span></p>
    <div class="list">
      {% for i in site.json.contact %}
      <p><span class="list-subkey">{{ i | slice: 0 }}</span><span class="list-attr"><a href="mailto:{{ site.json.contact.email }}">{{ i | slice: 1 }}</a></span></p>
      {% endfor %}
    </div>
    {% else %}
    <p><span class="key">contact</span><span class="attr">{{ site.json.contact }}</span></p>
    {% endif %}
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.demo %}
    {% assign demo = site.json.demo | split: "//" | slice: 1 %}
    <p><span class="key">demo</span><span class="attr"><a href="{{ site.json.demo }}" target="_blank">{{ demo }}</a></span></p>
    {% endif %}
    {% if site.json.source %}
    {% assign source = site.json.source | split: "github.com/" | slice: 1 %}
    <p><span class="key">source</span><span class="attr"><a href="{{ site.json.source }}" target="_blank">{{ source }}</a></span></p>
    {% endif %}
  </div>
  <div class="block">
    {% if site.json.profiles %}
    <span class="array-key">profiles</span>
    <div class="array">
      {% for i in site.json.profiles %}
      <p class="array-attr"><a href="{{ i | slice: 1 }}" target="_blank">{{ i | slice: 0 }}</a></p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>

<!-- Status Bar -->
<footer class="status-bar">
  <span>
    <span class="status-indicator"></span>
    <span class="status-session">guest@mapuya.sh</span>
  </span>
  <span class="status-time">00:00:00</span>
  <span class="status-uptime">uptime: 0h 0m 0s</span>
</footer>